---
---

@import "{{ site.theme }}";

footer {
  display: none;
}

a {
  color: #6e6e6e;
  text-decoration: underline;
}
a:hover {
  color: #242424;
}

body {
  background: #e7e7e7;
}

header {
  padding-top: 30px;
  padding-bottom: 0px;
}

.inner {
  width: 620px;
  margin: 0 auto;
}

#container {
  background: transparent;
}

#downloads {
  margin-bottom: 0px;
}
