---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

header h1 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 44px; font-weight: 700;
}

body {
  font-family: 'Nanum Gothic Coding', monospace;
}

footer {
  display: none;
}

a {
  color: #6e6e6e;
  text-decoration: underline;
}
a:hover {
  color: #242424;
}

header {
  padding-top: 30px;
  padding-bottom: 0px;
}

#container {
  background: transparent;
}

#downloads {
  margin-bottom: 0px;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 20px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
